.formContainer {
  width: 1060px;
  height: 579px;
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 0px 30px 30px 30px;
  margin: 0 110px 83px 110px;
  padding: 189px 0 0 20px;
}

.formBody {
  display: flex;
}

.formFields {
  display: flex;
  height: 44px;
  width: 601px;
  box-sizing: border-box;
  margin: 0 27px 0 0;
}

.formDescription {
  /* list-style: none; */
  width: 287px;
  border-radius: 16px 0px 0px 0px;
  border: 2px solid #f5f6fb;
  padding: 2px 0px 2px 20px;
  background-color: transparent;
}

/* .formDescription: {
  background-color: transparent;
} */

/* .formdescription:-internal-autofill-selected {
  appearance: menulist-button;
  background-image: none !important;
  background-color: transparent !important;
} */

.formDescription::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #c7ccdc;
}

.formCategory {
  width: 188px;
  height: 44px;
  border: 2px solid #f5f6fb;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #c7ccdc;
  padding: 2px 0px 2px 20px;
}

.formCategory option {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #102158;
}

.formSum {
  width: 126px;
  height: 44px;
  border: 2px solid #f5f6fb;
  border-radius: 0px 16px 16px 0px;
  padding: 2px 0px 2px 2px;
}

.formSum::placeholder {
  /* align-items: center; */
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #c7ccdc;
}

.enterBTN {
  width: 125px;
  height: 44px;
  /* left: 885px;
  top: 221px; */
  border: 2px solid #f5f6fb;
  border-radius: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-right: 15px;
}

.enterBTN:hover {
  background: #ff751d;
  color: #ffffff;
}

.clearBTN {
  width: 125px;
  height: 44px;
  /* left: 885px;
    top: 221px; */
  border: 2px solid #f5f6fb;
  border-radius: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.clearBTN:hover {
  background: #ff751d;
  color: #ffffff;
}
