.plus {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: #407946;
}
.minus {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  color: #E53935;
}
.default {
font-weight: bold;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.04em;
}