@import '../../styles/main.scss';

.balanceModal {
  z-index: 9999999;
  position: absolute;
  top: 220px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 290px;
  height: 165px;
  margin-left: auto;
  margin-right: auto;
  background: url('../../Icons/modal-comment.svg') no-repeat;

  display: inline-block;
}
@media screen and (min-width: $bp-tablet) and (max-width: $bp-desktop) {
  .balanceModal {
    top: 125px;
    left: 165px;
    margin: 0;
  }
}
@media screen and (min-width: $bp-desktop) {
  .setBalanceForm {
    position: relative;
  }
  .balanceModal {
    position: absolute;
    top: 45px;
    left: 505px;
    margin: 0;
  }
}
