.formContainer {
  min-width: 320px;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 0px 30px 30px 30px;
  margin: 0 110px 83px 110px;
  padding: 28px 0 0 20px;
}

.formBody {
  display: flex;
  flex-direction: column;
}

.formFields {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 282px;
  box-sizing: border-box;
  margin: 0 auto 83px;
}

.formFieldsWrp {
  margin: 0 auto;
}

.formDescription {
  width: 282px;
  height: 44px;
  border-radius: 16px 0px 0px 0px;
  border: 2px solid #f5f6fb;
  padding: 2px 0px 2px 20px;
  background-color: transparent;
}

.formDescription::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #c7ccdc;
}

.formCategory {
  width: 282px;
  height: 44px;
  border: 2px solid #f5f6fb;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #c7ccdc;
  padding: 2px 0px 2px 20px;
  margin: 0 0 30px;
}

.formCategory option {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #102158;
}

.formSum {
  width: 183px;
  height: 44px;
  margin: 0 auto;
  border: 2px solid #f5f6fb;
  border-radius: 16px;
  /* padding: 30px 0 0; */
}

.formSum::placeholder {
  /* align-items: center; */
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #c7ccdc;
}

.buttonsWrp {
  margin: 0 auto;
}

.enterBTN {
  width: 125px;
  height: 44px;
  border: 2px solid #f5f6fb;
  border-radius: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-right: 15px;
}

.enterBTN:hover {
  background: #ff751d;
  color: #ffffff;
}

.clearBTN {
  width: 125px;
  height: 44px;
  border: 2px solid #f5f6fb;
  border-radius: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.clearBTN:hover {
  background: #ff751d;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .formContainer {
    display: none;
  }
}
/* ========================================== Tablet =========================================== */
@media screen and (min-width: 768px) {
  .formContainer {
    min-width: 665px;
    height: 626px;
    background: #ffffff;
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 0px 30px 30px 30px;
    margin: 0 110px 83px 50px;
    padding: 28px 0 0 0;
  }

  .formBody {
    display: flex;
    flex-direction: column;
  }

  .formFields {
    display: flex;
    flex-direction: row;
    height: 44px;
    width: 467px;
    box-sizing: border-box;
    margin: 0 0 30px 168px;
  }

  .formDescription {
    /* list-style: none; */
    width: 175px;
    border-radius: 16px 0px 0px 0px;
    border: 2px solid #f5f6fb;
    padding: 2px 0px 2px 20px;
    background-color: transparent;
  }

  .formDescription::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #c7ccdc;
  }

  .formCategory {
    width: 188px;
    height: 44px;
    border: 2px solid #f5f6fb;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #c7ccdc;
    padding: 2px 0px 2px 20px;
  }

  .formCategory option {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #102158;
  }

  .formSum {
    width: 104px;
    height: 44px;
    border: 2px solid #f5f6fb;
    border-radius: 0px 16px 16px 0px;
    padding: 2px 0px 2px 2px;
  }

  .formSum::placeholder {
    /* align-items: center; */
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #c7ccdc;
  }

  .buttonsWrp {
    margin: 0 auto;
  }

  .enterBTN {
    width: 125px;
    height: 44px;
    /* left: 885px;
    top: 221px; */
    border: 2px solid #f5f6fb;
    border-radius: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-right: 15px;
  }

  .enterBTN:hover {
    background: #ff751d;
    color: #ffffff;
  }

  .clearBTN {
    width: 125px;
    height: 44px;
    /* left: 885px;
      top: 221px; */
    border: 2px solid #f5f6fb;
    border-radius: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  .clearBTN:hover {
    background: #ff751d;
    color: #ffffff;
  }
}
/* ========================================== PC =========================================== */
@media screen and (min-width: 1280px) {
  .formContainer {
    width: 1060px;
    height: 579px;
    background: #ffffff;
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 0px 30px 30px 30px;
    margin: 0 110px 83px 110px;
    padding: 28px 0 0 0;
  }

  .formBody {
    display: flex;
    flex-direction: row;
  }

  .formFields {
    display: flex;
    height: 44px;
    width: 601px;
    box-sizing: border-box;
    margin: 0 27px 0 147px;
  }

  .formDescription {
    /* list-style: none; */
    width: 287px;
    border-radius: 16px 0px 0px 0px;
    border: 2px solid #f5f6fb;
    padding: 2px 0px 2px 20px;
    background-color: transparent;
  }

  .formDescription::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #c7ccdc;
  }

  .formCategory {
    width: 188px;
    height: 44px;
    border: 2px solid #f5f6fb;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #c7ccdc;
    padding: 2px 0px 2px 20px;
  }

  .formCategory option {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #102158;
  }

  .formSum {
    width: 126px;
    height: 44px;
    border: 2px solid #f5f6fb;
    border-radius: 0px 16px 16px 0px;
    padding: 2px 0px 2px 2px;
  }

  .formSum::placeholder {
    /* align-items: center; */
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #c7ccdc;
  }

  .buttonsWrp {
    margin: 0;
  }

  .enterBTN {
    width: 125px;
    height: 44px;
    border: 2px solid #f5f6fb;
    border-radius: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-right: 15px;
  }

  .enterBTN:hover {
    background: #ff751d;
    color: #ffffff;
  }

  .clearBTN {
    width: 125px;
    height: 44px;
    border: 2px solid #f5f6fb;
    border-radius: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  .clearBTN:hover {
    background: #ff751d;
    color: #ffffff;
  }
}
