/* ========================================== Mobile =========================================== */

.formContainer {
  min-width: 320px;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
  border-radius: 0px 30px 30px 30px;
  margin: 0 110px 83px 110px;
  padding: 28px 0 0 20px;
}

.formBody {
  display: flex;
  flex-direction: column;
}

.formFields {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 282px;
  box-sizing: border-box;
  margin: 0 auto 83px;
}

.formFieldsWrp {
  margin: 0 auto;
}

.datePickerWrp {
  width: 125px;
}

.formDescription {
  width: 282px;
  height: 44px;
  border-radius: 16px 0px 0px 0px;
  border: 2px solid #f5f6fb;
  padding: 2px 0px 2px 20px;
  background-color: transparent;
}

.formDescription::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #c7ccdc;
}

.formCategory {
  width: 282px;
  height: 44px;
  border: 2px solid #f5f6fb;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #c7ccdc;
  padding: 2px 0px 2px 20px;
  margin: 0 0 30px;
}

.formCategory option {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #102158;
}

.formSum {
  width: 183px;
  height: 44px;
  margin: 0 auto;
  border: 2px solid #f5f6fb;
  border-radius: 16px;
}
.formSum::placeholder {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  color: #c7ccdc;
}

.buttonsWrp {
  margin: 0 auto;
}

.enterBTN {
  width: 125px;
  height: 44px;
  border: 2px solid #f5f6fb;
  border-radius: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-right: 15px;
}
.enterBTN:hover {
  background: #ff751d;
  color: #ffffff;
}

.clearBTN {
  width: 125px;
  height: 44px;
  border: 2px solid #f5f6fb;
  border-radius: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.clearBTN:hover {
  background: #ff751d;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .formContainer {
    display: none;
  }
}

/* ========================================== Tablet =========================================== */

@media screen and (min-width: 767px) {
  .formContainer {
    min-width: 665px;
    height: 626px;
    margin: 0 110px 83px 50px;
    padding: 28px 0 0 0;
  }

  .formFields {
    flex-direction: row;
    height: 44px;
    width: 467px;
    margin: 0 30px 30px 168px;
  }

  .datePickerWrp {
    position: relative;
    top: 30px;
  }

  .formDescription {
    width: 175px;
  }

  .formCategory {
    width: 188px;
  }

  .formSum {
    width: 104px;
    border-radius: 0px 16px 16px 0px;
    padding: 2px 0px 2px 2px;
  }
}

/* ========================================== PC =========================================== */

@media screen and (min-width: 1280px) {
  .formContainer {
    width: 1060px;
    height: 579px;
    /* margin: 0 110px 83px 110px; */
    margin: 0 110px 83px 0;
  }

  .datePickerWrp {
    position: relative;
    top: 30px;
  }

  .formBody {
    flex-direction: row;
    margin: 0 20px 0 0;
  }

  .formFields {
    width: 601px;
    margin: 0 27px 0 147px;
  }

  .formFieldsWrp {
    margin: 0;
  }

  .formDescription {
    width: 287px;
  }

  .formSum {
    width: 126px;
  }

  .buttonsWrp {
    margin: 0;
  }
}
